h1{
	text-align:center;
	background:linear-gradient(#999999 0%,#9b09e6 100%);
	font-family:cursive;
}
header{
	background:linear-gradient(#9b09e6 0%,#999999 100%);
	/*padding:10px 20px;*/
	text-align:center;
	padding-left:20%;
	padding-right:20%;
}
footer{
	background:linear-gradient(#9b09e6 0%,#999999 100%);
}
body{
	/*background:(0,0,0,0.1);*/
	background-image:url('../images/car.jpg');
	margin:2%;
	font-size: 125%;

}
nav{
	dislpay:inline-block;
	/*width:50%;*/
	font-size:large;
	font-family:sans-serif;
}
nav a{
	color:#ffffff;
	display:inline-block;
	width:23%;
	/*text-align:center;*/
	
}
.half{
	display:inline-block;
	float:left;
	width:48%;
	text-align:center;
	margin right:25%;
	margin left:25%;
}
.full{
	clear:both;
}
img{
	width:75px;

}